@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.logoImage {
  height: clamp(60px, 8vw, 100px);
  width: auto;
}

.logo a {
  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(20px, 3vw, 48px);
  color: white;
  text-decoration: none;
  margin: 0;
}


@media (max-width: 768px) {
  .logoImage {
    height: auto;
    width: 75px;
    margin-bottom: 25px;
  }
  

  .logo {
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
  }

  .logo a {
    text-align: center;
    align-self: center;
    color: white;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 769px) and (max-width: 1400px) {
  .logo a {
    text-align: center;
    align-self: center;
    color: white;
    font-size: 28px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logoImage {
    height: auto;
    width: 100px;
    margin: 0;
  }
}


@media (min-width: 1400px) and (max-width: 1588px) {
  .logo a {
    font-size: 36px;
    position: relative; /* убираем absolute */
    left: unset;
    transform: unset;
    margin-left: 15px;
  }

  .logoImage {
    width: 90px;
    height: auto;
    margin-left: 10px;
  }

  .logo {
    gap: 10px;
  }
}


