.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(135deg, #0A0F2C 0%, #1E90FF 100%);
  color: white;
  border: none;
  border-radius: 30%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 500;
  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-top:hover {
  background: linear-gradient(135deg, #005f99, #3399ff);
}
